.UserInfo {
  margin-bottom: 82px;
  width: 56vw;
  background-color: white;
  z-index: 0;

  &__header {
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__url {
      margin: 27px 0 40px 0;
      font-size: 20px;
      a {
        text-decoration: none;
        color: #ec174d;
      }
    }
    &__name {
      color: #434346;
      font-family: Ubuntu;
      font-size: 40px;
      font-weight: 700;
    }
    &__status {
      color: #939393;
      font-family: Ubuntu;
      font-size: 30px;
    }
    &__link {
      text-decoration: none;
      color: #ec174d;
    }
  }
  &__languages {
    &__body {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.header {
  padding: 70px 0 27px;
  color: #424242;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
}

.container {
  padding: 0 91px;
  margin-bottom: 40px;
}

.link {
  color: #ec174d;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .UserInfo {
    width: 84vw;
    &__header {
      text-align: center;
      &__status {
        font-size: 20px;
      }
      &__url {
        font-size: 16px;
      }
      &__description {
        text-align: justify;
      }
    }
  }

  .header {
    padding: 40px 0 27px;
    text-align: center;
    line-height: 30px;
  }

  .container {
    padding: 0 16px;
  }
}
