body {
  background-color: #f7f8fb;
  // overflow-y: ;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    width: 100vw;
    height: 75px;
    background-color: #ffffff;
    color: #434346;
    font-family: "Open Sans";
    line-height: 32px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 22px 0;
    background-color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 32px;
  }

  &__title {
    margin-top: 82px;
    height: 57px;
    color: #d8d8d8;
    font-family: Ubuntu;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .App {
    &__header {
      font-size: 32px;
      height: 7vh;
    }
    &__title{
      margin-top: 30px;
    }
    &__footer {
      font-size: 16px;
      height: 1vh;
    }
  }
}
