.Search {
  margin-top: 100px;
  width: 66vw;
  height: 230px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  &__row {
    margin: 13px 94px;
    height: auto;
    width: 85%;
    display: flex;

    &__error {
      padding: 13px 94px;
      color: #ec174d;
    }

    &__header {
      width: 228px;
      height: 27px;
      color: #424242;
      font-family: Ubuntu;
      font-size: 28px;
      font-weight: 700;
      line-height: 18px;
    }

    &__input {
      width: 100%;
      border: none;
      border-bottom: 1px gainsboro solid;
      font-size: 20px;
      outline: none;

      &::placeholder {
        color: #d8d8d8;
        font-family: "Open Sans";
        line-height: 32px;
      }
    }

    &__button {
      margin-left: 15px;
      max-width: 268px;
      width: 40%;
      height: 46px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 23px;
      background-color: #ec174d;
      color: #ffffff;
      font-family: Ubuntu;
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      outline: none;

      &:hover {
        background-color: #c1113d;
      }

      &:active {
        background-color: black;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .Search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    
    &__row {
      align-items: center;
      flex-direction: column;
      padding-bottom: 10px;

      &__input {
        width: 80%;
      }
      
      &__button {
        margin: 0;
        margin-top: 10px;
        width: 80%;
      }
    }
  }
}
