.Repo {
  color: #434346;
  padding: 16px 0;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
  border-bottom: 1px #c3c0c5 solid;

  &__row {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    &__footer{
      text-align: justify;
      font-size: 14px;
      &__link{
        color: #ec174d;
        text-decoration: none;
      }
    }

    &__description {
      text-align: justify;
      word-wrap: break-word;
      margin: 15px 0;
    }
  }

  &__name {
    font-family: Ubuntu;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 10px;
    &__link {
      text-decoration: none;
      color: #ec174d;
    }
  }
  &__time {
    color: #939393;
    font-family: Ubuntu;
    font-size: 24px;
    line-height: 18px;
  }
  &__lang-rights {
    color: #939393;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 32px;
  }
}
@media screen and (max-width: 760px) {
  .Repo {
    &__row {
      &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &__footer{
        text-align: justify;
        font-size: 14px;
      }
    }
    &__lang-rights {
      width: 100%;
      text-align: center;
    }
    &__name {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 24px;
    }
  }
}
