.Lang {
  width: 23%;
  min-width: 150px;
  margin-right: 8px;

  &__name {
    color: #ec174d;
    padding-right: 8px;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
  }
  &__row {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2px;
  }
  &__lvl {
    color: #939393;
  }
}

.progressbar {
  height: 5pxpx;
  position: relative;
  background: #f5f7fa;
  span {
    display: block;
    height: 5px;
    background-color: #d8d8d8;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 760px) {
  .Lang {
    width: 100%;
  }
  // margin-right: 8px;
}
